/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

@plugin "./hero.ts";

@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

* {
  font-family: Helvetica, sans-serif;
}

/* @config "../tailwind.config.ts"; */

.focus\:border-gradient-to-r:focus {
  border-image: linear-gradient(to right, #4a4a4a, #1a1a1a) 1;
}

body,
html {
  overflow: hidden;
}

.bg_modal {
  background: #151321;
  background: linear-gradient(
    90deg,
    rgba(40, 40, 43, 1) 0%,
    rgba(41, 40, 43, 1) 100%
  );
}
